/* ==========================================================================
      Start of custom Webflow CSS
      ========================================================================== */
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.team_text {
  position: absolute;
  display: inline-block;
  margin-right: auto;
  margin-left: 0vh;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.8vh;
  line-height: 2vh;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  mix-blend-mode: normal;
  -o-object-fit: contain;
  object-fit: contain;
}

.team_link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: 5vh;
  height: 6.5vh;
  margin-top: 12vh;
  margin-bottom: 0vh;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 5vh none #000;
  border-radius: 0px;
  background-color: transparent;
  opacity: 1;
  outline-color: #333;
  outline-offset: 3vh;
  outline-style: none;
  outline-width: 0.5vh;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  -o-object-fit: contain;
  object-fit: contain;
}

.team_link:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.team_link:active {
  border-style: none;
  background-clip: content-box;
  -webkit-text-fill-color: inherit;
}

.team_link.w--current {
  border-style: none;
  border-color: transparent;
  opacity: 1;
  outline-color: transparent;
  outline-offset: 3vh;
  outline-style: none;
  outline-width: 0.5vh;
  color: transparent;
  text-decoration: none;
}

.res_text {
  position: absolute;
  display: block;
  margin-left: -1.5vh;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #fcfcfc;
  font-size: 1.8vh;
  line-height: 2vh;
  text-align: center;
  text-decoration: none;
}

.game_text {
  position: absolute;
  margin-top: 0vh;
  margin-left: 0vh;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.8vh;
  line-height: 2vh;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.res_link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  width: 5vh;
  height: 6.5vh;
  margin-top: 25.5vh;
  outline-color: #333;
  outline-offset: 3vh;
  outline-style: none;
  outline-width: 0.5vh;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  -o-object-fit: contain;
  object-fit: contain;
}


.game_link {
  position: absolute;
  display: block;
  width: 5vh;
  height: 6.5vh;
  margin-top: 29vh;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-decoration: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.cl9_link {
  width: 9vh;
  height: 9vh;
  background-image: url("https://uploads-ssl.webflow.com/6356524a4d0d41ff92aed363/6356533e41400e5815d40d31_cl9.png");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.cl9_link.w--current {
  margin-bottom: 0vh;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  margin-top: 60vh;
  margin-left: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
}

.text-block {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.game {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 5vh;
  line-height: 5vh;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin-top: 9vh;
  text-align: center;
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  animation: show 1s 1;
  /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s;
  /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.table_game {
  position: absolute;
  display: block;
  overflow: hidden;
  margin-top: 1vh;
  margin-left: 45vh;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
 
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.body-4 {
  background-image: url("/image/bg.jpg");
  background-position: 0% 50%;
  background-size: cover;
}

.grid-1 {
  position: relative;
  grid-auto-flow: row dense;
  grid-column-gap: 0vh;
  grid-row-gap: 0vh;
  grid-template-areas: "Area Area"
    "Area-2 Area-3"
    "Area-2 Area-3";
  -ms-grid-columns: minmax(0vh, auto) 0vh 0.9fr;
  grid-template-columns: minmax(0vh, auto) 0.9fr;
  -ms-grid-rows: 25vh 0vh 50vh 0vh 25vh;
  grid-template-rows: 25vh 50vh 25vh;
}

.table_grid {
  grid-template-areas: "Area Area Area Area Area Area"
    "Area Area Area Area Area Area"
    "Area Area Area Area Area Area"
    "Area Area Area Area Area Area"
    "Area Area Area Area Area Area"
    "Area Area Area Area Area Area"
    "Area Area Area Area Area Area"
    "Area Area Area Area Area Area";
  -ms-grid-columns: 15vh 15vh 15vh 15vh 15vh 15vh;
  grid-template-columns: 15vh 15vh 15vh 15vh 15vh 15vh;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  border: 1px solid #000;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 100px;
  color: #fff;
}

.emk-d-_link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 3vh;
  line-height: 5vh;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin-left: 5vh;
  cursor: pointer;
}

.games {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  animation: show 1s 1;
  /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s;
  /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-4 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: block;
  overflow: visible;
  width: 9vh;
  height: 0vh;
  min-height: 0vh;
  min-width: 0vh;
  margin-top: 25vh;
  padding-top: 0px;
  padding-bottom: 48vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 0.1vh;
  border-color: rgba(18, 55, 84, 0.55);
  border-radius: 0px;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(50%, rgba(18, 55, 84, 0.55)), to(#000));
  background-image: linear-gradient(180deg, #000, rgba(18, 55, 84, 0.55) 50%, #000);
  outline-color: #333;
  outline-offset: 0vh;
  outline-style: none;
  outline-width: 0.5vh;
  color: #333;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s;
  /*Скорость перехода состояния элемента*/
  animation: show 1s 1;
  /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 1s;
  /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html.w-mod-js *[data-ix="emk-d"] {
  display: none;
  opacity: 0;
  height: 0px;
}

@media screen and (min-width: 1920px) {
  .team_link {
    border-style: none;
    background-color: transparent;
    outline-offset: 3vh;
    outline-style: none;
    outline-width: 0.5vh;
  }

  .game_text {
    margin-left: 0vh;
  }

  .res_link {
    margin-top: 25.5vh;
  }

  .game_link {
    margin-top: 38.6vh;
  }

  table {
    width: 125vh;
    /* Ширина таблицы */
    background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(15%, rgba(18, 55, 84, 0.55)), color-stop(50%, rgba(18, 55, 84, 0.24)), color-stop(85%, rgba(18, 55, 84, 0.55)), to(#000));
    color: white;
    /* Цвет текста */
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
    display: none;
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s;
    /*Скорость перехода состояния элемента*/
    animation: show 0.5s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0s;
    /* Задержка перед началом */
  }

  th {
    color: white;
    width: 100vh;
    height: 10vh;
  }

  td {
    color: white;
    width: 80vh;
    height: 4vh;
    padding: 1vh;
    border-top: 0.1vh solid #0000005d;
    border-bottom: 0.1vh solid #0000005d;

  }

  .cl9_link {
    display: block;
    overflow: visible;
    width: 9vh;
    height: 9vh;
    margin-top: 0vh;
    margin-bottom: -9vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .cl9_link.w--current {
    display: block;
    overflow: visible;
    width: 9vh;
    height: 9vh;
    margin-top: 0vh;
    margin-bottom: -9vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .utility-page-content {
    margin-top: 60vh;
    margin-left: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .grid-1 {
    grid-auto-columns: auto;
    grid-auto-rows: 25vh;
    grid-row-gap: 0vh;
    grid-template-areas: "Area Area Area Area Area"
      "Area-2 Area-3 Area-3 Area-3 Area-3"
      "Area-2 Area-3 Area-3 Area-3 Area-3";
    -ms-grid-columns: minmax(0vh, auto) 0.9fr;
    grid-template-columns: minmax(0vh, auto) 0.9fr;
    -ms-grid-rows: minmax(25vh, auto) 0vh 50vh;
    grid-template-rows: minmax(25vh, auto) 50vh;
  }

  .games {
    left: 7.7%;
    top: 0%;
    right: auto;
    bottom: 0%;
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s;
    /*Скорость перехода состояния элемента*/
    animation: show 1s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s;
    /* Задержка перед началом */
  }

  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .menu-4 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: block;
    overflow: visible;
    width: 9vh;
    height: 0vh;
    min-height: 0vh;
    min-width: 0vh;
    margin-top: 25vh;
    padding-top: 0px;
    padding-bottom: 48vh;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-style: solid;
    border-width: 0.1vh;
    border-color: rgba(18, 55, 84, 0.55);
    border-radius: 0px;
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(50%, rgba(18, 55, 84, 0.55)), to(#000));
    background-image: linear-gradient(180deg, #000, rgba(18, 55, 84, 0.55) 50%, #000);
    outline-color: #333;
    outline-offset: 0vh;
    outline-style: none;
    outline-width: 0.5vh;
    color: #333;
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s;
    /*Скорость перехода состояния элемента*/
    animation: show 1s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s;
    /* Задержка перед началом */
  }

  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 991px) {
  .grid-1 {
    grid-column-gap: 0vh;
    grid-template-areas: "Area Area Area"
      "Area-2 Area-3 Area-3";
    -ms-grid-columns: minmax(2vh, auto) 0vh minmax(0vh, auto) 0vh minmax(0vh, auto);
    grid-template-columns: minmax(2vh, auto) minmax(0vh, auto) minmax(0vh, auto);
  }
}

@media screen and (max-width: 767px) {
  .grid-1 {
    grid-column-gap: 0vh;
    grid-row-gap: 0vh;
    grid-template-areas: "Area-4 Area-4 Area-4 Area-4 Area-4 Area-4 Area-4"
      "Area-3 Area-3 Area-3 Area-3 Area-3 Area-3 Area-3";
    -ms-grid-columns: minmax(50vh, auto);
    grid-template-columns: minmax(50vh, auto);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .team_text {
    position: static;
    margin-right: 0vh;
    margin-left: 2vh;
    padding-top: 0vh;
  }

  .team_link {
    position: static;
    margin-top: 0vh;
    margin-left: 0vh;
  }

  .team_link.w--current {
    margin-top: 0vh;
    margin-left: 0vh;
    border-style: none;
  }

  .res_text {
    position: static;
    margin-left: 0vh;
    padding-top: 0vh;
    font-style: normal;
    text-align: center;
    text-decoration: none;
  }

  .game_text {
    position: static;
    margin-top: 0vh;
    padding-left: 0vh;
  }

  .res_link {
    position: static;
    margin-top: 6vh;
    padding-left: 0vh;
    text-decoration: none;
  }

  .res_link.w--current {
    margin-top: 7vh;
    text-decoration: none;
  }


  .game_link {
    position: static;
    margin-top: 6.5vh;
    margin-left: 0vh;
  }

  .cl9_link {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .cl9_link.w--current {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .grid-1 {
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-column-gap: 5vh;
    grid-row-gap: 0vh;
    grid-template-areas: "Area Area Area Area Area"
      "Area-2 Area-2 Area-2 Area-2 Area-2";
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 15vh;
    grid-template-rows: 15vh;
  }

  .menu-4 {
    position: static;
    margin-top: -20vh;
    margin-left: 22vh;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s;
    /*Скорость перехода состояния элемента*/
    animation: show 1s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s;
    /* Задержка перед началом */
  }

  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}


#w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7a-c51206a1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

.table_grid>#w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7a-c51206a1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
}

#w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: Area-2;
}

#w-node-_83288053-7ea5-7050-c71b-3051dc5d2c88-c51206a1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-align: start;
  justify-self: start;
  grid-area: Area-3;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

@media screen and (min-width: 1920px) {
  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: Area-2;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row-align: start;
    align-self: start;
    -ms-grid-column-align: auto;
    justify-self: auto;
    grid-area: Area;
  }

  .table_grid>#w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}

@media screen and (min-width: 1920px) {
  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7a-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c88-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7a-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c88-c51206a1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7a-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }

  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c7d-c51206a1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_83288053-7ea5-7050-c71b-3051dc5d2c88-c51206a1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 13;
  }
}

@font-face {
  font-family: 'Opensans variablefont wdth,wght';
  src: url('https://uploads-ssl.webflow.com/6356524a4d0d41ff92aed363/63565eed8d90514835e666ca_OpenSans-Italic-VariableFont_wdth%2Cwght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Opensans variablefont wdth,wght';
  src: url('https://uploads-ssl.webflow.com/6356524a4d0d41ff92aed363/63565f6bdb028ecf599d3228_OpenSans-VariableFont_wdth%2Cwght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}